.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/**/*
.DS_Store
public/system
db/schema.rb
config/database.yml
.loadpath
.project
Thumbs.db
*.orig
.rspec
ext_libs/*
.externalToolBuilders/*
db/sphinx/*
config/*.sphinx.conf
