<h2><%=t("admin.catalog.title")%></h2>
<div>
  <a id="add_root_catalog" href="#"><%=t("admin.catalog.add_root")%></a><br />
  <a id="add_sub_catalog" href="#"><%=t("admin.catalog.add_sub")%></a>
</div>

<div id="catalog_tree">

</div>