<div class="navigation">
  <ul>
    <li><a href="#">Main</a></li>
    <li><%=admin_menu_link(t("admin.catalog.title"), admin_catalog_index_path)%></li>
    <li><%=admin_menu_link(t("admin.uploaded_file.title"), admin_uploaded_files_path)%></li>
  </ul>
</div>
