body { padding: 0; margin: 0; font-size: 1em; outline: none; }
a img, iframe, fieldset, object { border: none; }
/* **************** CONTENT OBJECTS ***************** */
/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:10px;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}
/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#0B8C8F;}
/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:196%; font-weight:normal; font-style: normal; color:#000;}
h2, .h2{font-size:167%; font-weight:normal; font-style: normal; color:#000;}
h3, .h3{font-size:146.5%; font-weight:normal; font-style: normal; color:#000;}
h4, .h4{font-size:123.1%; font-weight:normal; font-style: normal; color: #333;}
h5, .h5{font-size:108%; font-weight:bold; font-style: normal; color:#000;}
h6, .h6{font-size:108%; font-weight:normal; font-style: italic; color:#333;}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}
.important a{font-weight:bold;}
/* links */
a {color: #dd0000; text-decoration: none;}
a:focus, a:hover {text-decoration: underline;}
a:focus{background-color:#FFFFCC;}
a:visited { color:#dd0000; }
/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul { list-style-type: none; }
ul.simpleList li{list-style-type:disc; margin-left:40px;}
/* ====== blockquote ====== */
cite{display:block; text-align:right; padding-top: 10px;}
/* ====== callout ====== */
.callout{font-size:189%;color:#999999; font-style:italic;}
.callout cite{display:block; text-align:right;padding-top: 30px; font-size:69.25%;}
.callout span.quot{font-size: 500%; vertical-align: sub; color:#e2e2e2; line-height:25px; font-weight:bold;}
.callout span.quotLast{vertical-align:middle;}
/* ====== image treatments (get more from jason santa maria) ====== */
.caption{font-size:13px; color:#666666; font-style:italic;padding-top:0;}
/* will need to either
1. find a way to capture the width of the caption in the width of the image or flash
2. Set some default widths, mby use flickr widths?
*/
/* ====== media ====== */
.media{overflow:hidden; overflow:visible; zoom:1;margin:10px;}
.media .img{float:left;margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}
/* ====== special formatting classes ====== */
.detail{color: #777; font-size:11px;display:block;}



/*navigation*/
div.navigation {
  height: 40px;
  background-color: #02212E;
  font: 14px tahoma, sans-serif;
}

div.navigation.footer {
  margin:  30px -20px -20px;
}

div.navigation a {
  color: #92D000;
}

div.navigation ul {
  padding: 0;
}

div.navigation li {
  float: left;
}

div.navigation li a {
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 38px;
  background-color: #0072ad;
  border-right: 1px solid #02212E;
  color: #fff;
  text-decoration: none;
}

div.navigation li span {
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 38px;
  background-color: #1F7F7D;
  border-right: 1px solid #02212E;
  color: #fff;
  text-decoration: none;
}

div.navigation li a:hover {
  background-color: #1c8ebf;
}

/*admin form*/
div.admin-form input, div.admin-form textarea {
  font: 16px tahoma, sans-serif;
}

div.admin-form label {
  display: block;
  margin-bottom: 3px;
  color: #333;
}

div.admin-form textarea {
  padding: 5px;
  width: 590px;
  height: 200px;
  font-size: 14px;
}

div.admin-form .line {
  padding: 7px 0;
  clear: both;
}

div.admin-form div.box .line.submit {
  position: relative;
  bottom: -60px;
}

div.admin-form .line.submit input {
  width: auto;
  font-size: 14px;
  padding: 3px 10px;
}

div.line.column {
  width: 85px;
  float: left;
  clear: none;
  margin-right: 40px;
}

/* loader */
#loading{
  display:none;
  position: fixed; 
  white-space: nowrap; 
  z-index: 1001; 
  top: 0px; 
  left: 647.5px; 
  height: 18px; 
  width: 124px;
  background:none repeat scroll 0 0 #FFC129;
  color:black;
  font-weight:bold;
  padding:3px;
  
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  -khtml-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
}


/*admin tables*/
table.admin {
  width: 100%;
  margin: 0 0 20px;
}

table.admin tr:hover td {
  background-color: #ffe;
}

table.admin tr.add-new td {
  border-top: 2px solid #000;
  background-color: #ffc;
}

table.admin th, table.admin td {
  padding: 10px;
  vertical-align: top;
}

table.admin td {
  border-bottom: 1px solid #ddd;
  color: #333;
}

table.admin td.date {
  width: 200px;
}

table.admin td.date select {
  margin: 0 5px 5px 0;
}

table.admin th {
  border-bottom: 2px solid #aaa;
  font-weight: bold;
}

table.admin th.actions {
  width: 130px;
}


div.admin_account {
  height: 40px;
  font: 14px tahoma, sans-serif;
  float:right;
  display: block;
  padding: 0 10px;
  line-height: 38px;
  background-color: #0072ad;
  border-right: 1px solid #02212E;
  text-decoration: none;
}
div.admin_account, div.admin_account a {
  color: #fff;
}

div.admin_account a:hover {
  background-color: #0072ad;
}


.admin_left_panel{
  margin:0 10px;
}

div.foot{
  margin-top:20px;
}

div.admin_footer {
  background: #3E995C;
  clear:both;
  color:#FFFFFF;
  position:relative;
  font-size:12px;
}

div.wrapper {
  margin:auto;
  max-width:1440px;
  min-width:1000px;
  position:relative;
  width:98%;
}


/* pager */
.digg_pagination {
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination em {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }