body{
  font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;
  background-color:#F4EBDF;
  border-top:6px solid #F0B965;
  font-size:16px;
  font-weight:400;
  width:100%;
  color:#333333;
}
/* **************** CONTENT OBJECTS ***************** */

/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#0B8C8F;}

.important a{font-weight:bold;}/* what is this? */
/* links */
a {color: #555555; text-decoration: none;}
a:focus, a:hover {color: #F49300; text-decoration: underline;}
a:visited { color:#666666; }

h2 {
  font-family:'Hoefler Text',Georgia,'Times New Roman',Times,serif;
  font-size:26px;
  text-shadow:0 1px 0 #FFFFFF;
}

h2 a {
  color:#333333;
  display:block;
  font-weight:400;
  outline:medium none;
  text-align:left;
  width:100%;
}

h3 {
  color:#F49300;
  margin-bottom:5px;
  font-size:16px;
  font-weight:400;
  text-shadow:0 1px 0 #FFFFFF;
}


ul#main-nav {
  height:51px;
  list-style:none outside none;
  margin:0;
  padding:11px 0 0;
  width:100%;
}

ul#main-nav li {
  display:inline;
  font-size:14px;
  line-height:21px;
  text-shadow:0 0.1em 0.1em #FFFFFF;
}

ul#main-nav li a, ul#main-nav li a:visited {
  color:#666666;
  display:block;
  float:left;
  margin:0;
  padding:8px 15px 13px;
  width:auto;
}

ul#main-nav li a:hover {
  background: #F5F5F5;
}

ul#main-nav li a:focus{
  background-color:#FFFFCC;
}

ul#main-nav li a small {
  color:#666666;
  display:block;
  font:lighter 10px/1 "ff-scala-sans-web-1","ff-scala-sans-web-2","Lucida Grande",Helvetica,sans-serif;
  letter-spacing:1px;
  text-transform:uppercase;
}

#footer {
  margin:51px auto 0;
  background-color:#000000;
  color: #FFF;
}
#footer p {
  display:block;
  padding:5px;
  font-size: 0.8em;
}
